{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load customtags %}
{% block content %}
{% load static %}
<main id="main">
   <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
  <br>
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <h2>{{ banner_heading }}</h2>
      <ol>
        <li><a href="{% url 'lcore:home' %}">Home</a></li>
        <li><a href="{% url 'lcore:feature_list' %}">Feature List</a></li>
      </ol>
    </div>
  </div>
</section><!-- End Breadcrumbs -->

<div class="row mt-5 justify-content-center" data-aos="fade-up">
    <div class="col-lg-10">
      <form method='POST' action="" >
        {% csrf_token %}
        {{ form|crispy }} <br/>
        <input type='submit' class="btn btn-secondary" value = 'Submit'>
      </form>
    </p>
    <hr/>

    </div>
</div>
</main><!-- End #main -->
<script>
 $(function () {
    $("#id_last_test").datepicker({
      format:'dd/mm/yyyy',
    });
  });
</script>

{% endblock content %}
